.button-primary {
}
.button-primary.highlight {
  background: var(--color-fill);
  color: var(--color-fill-highlight) !important;
}

.button-secondary {
  
}

.button-tertiary {
  color: var(--color-fill-highlight-darker) !important;
}