/* ./theme/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --default-color: theme('colors.neutral.900');
    --default-bg: #FFFFFF;
    --color-fill-base: var(--default-bg);
      --color-fill-base-color-contrast: theme('colors.neutral.600');
      --color-fill-base-color-contrast-strong: theme('colors.neutral.900');
      --color-fill-base-color-contrast-light: theme('colors.neutral.700');
      --color-fill-base-color-highlight: theme('colors.primary.700');
      --color-fill-base-color-highlight-strong: theme('colors.primary.900');
      --color-fill-base-color-highlight-light: theme('colors.primary.600');
    
    --color-fill: theme('colors.neutral.100');
      --color-fill-color-contrast: theme('colors.neutral.600');
      --color-fill-color-contrast-strong: theme('colors.neutral.900');
      --color-fill-color-contrast-light: theme('colors.neutral.700');
      --color-fill-color-highlight: theme('colors.primary.800');
      --color-fill-color-highlight-strong: theme('colors.primary.900');
      --color-fill-color-highlight-light: theme('colors.primary.700');

    --color-fill: theme('colors.neutral.100');
      --color-fill-color-contrast: theme('colors.neutral.600');
      --color-fill-color-contrast-strong: theme('colors.neutral.900');
      --color-fill-color-contrast-light: theme('colors.neutral.700');
      --color-fill-color-highlight: theme('colors.primary.800');
      --color-fill-color-highlight-strong: theme('colors.primary.900');
      --color-fill-color-highlight-light: theme('colors.primary.700');
    
    --color-fill-dark: theme('colors.neutral.600');
    --color-fill-dark-strong: theme('colors.neutral.700');
    --color-fill-dark-stronger: theme('colors.neutral.900');
      --color-fill-dark-color-contrast: #FFFFFF;
      --color-fill-dark-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-dark-color-contrast-light: theme('colors.neutral.200');
      --color-fill-dark-color-highlight: theme('colors.primary.400');
      --color-fill-dark-color-highlight-strong: theme('colors.primary.500');
      --color-fill-dark-color-highlight-light: theme('colors.primary.600');

    --color-fill-highlight: theme('colors.primary.600');
    --color-fill-highlight-strong: theme('colors.primary.700');
    --color-fill-highlight-stronger: theme('colors.primary.900');
      --color-fill-highlight-color-contrast: #FFFFFF;
      --color-fill-highlight-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-highlight-color-contrast-light: theme('colors.neutral.200');
      --color-fill-highlight-color-highlight: theme('colors.primary.100');
      --color-fill-highlight-color-highlight-strong: theme('colors.primary.200');
      --color-fill-highlight-color-highlight-light: theme('colors.primary.300');

    --color-fill-accent: theme('colors.accent.500');
      --color-fill-accent-color-contrast: theme('colors.neutral.600');
      --color-fill-accent-color-contrast-strong: theme('colors.neutral.900');
      --color-fill-accent-color-contrast-light: theme('colors.neutral.700');
      --color-fill-accent-color-highlight: theme('colors.accent.800');
      --color-fill-accent-color-highlight-strong: theme('colors.accent.900');
      --color-fill-accent-color-highlight-light: theme('colors.accent.700');
  }
  .dark {
    --default-color: theme('colors.neutral.100');
    --default-bg: theme('colors.neutral.900');
    --color-fill-base: theme('colors.neutral.900');
      --color-fill-base-color-contrast: theme('colors.neutral.100');
      --color-fill-base-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-base-color-contrast-light: theme('colors.neutral.100');
      --color-fill-base-color-highlight: theme('colors.primary.400');
      --color-fill-base-color-highlight-strong: theme('colors.primary.500');
      --color-fill-base-color-highlight-light: theme('colors.primary.600');
    
    --color-fill: theme('colors.neutral.800');
      --color-fill-color-contrast: theme('colors.neutral.100');
      --color-fill-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-color-contrast-light: theme('colors.neutral.100');
      --color-fill-color-highlight: theme('colors.primary.200');
      --color-fill-color-highlight-strong: theme('colors.primary.300');
      --color-fill-color-highlight-light: theme('colors.primary.400');

    --color-fill-dark: theme('colors.neutral.600');
    --color-fill-dark-strong: theme('colors.neutral.700');
    --color-fill-dark-stronger: theme('colors.neutral.900');
      --color-fill-dark-color-contrast: #FFFFFF;
      --color-fill-dark-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-dark-color-contrast-light: theme('colors.neutral.200');
      --color-fill-dark-color-dark: theme('colors.neutral.100');
      --color-fill-dark-color-dark-strong: theme('colors.neutral.200');
      --color-fill-dark-color-dark-light: theme('colors.neutral.300');
    
    --color-fill-highlight: theme('colors.primary.700');
    --color-fill-highlight-strong: theme('colors.primary.800');
    --color-fill-highlight-stronger: theme('colors.primary.900');
      --color-fill-highlight-color-contrast: #FFFFFF;
      --color-fill-highlight-color-contrast-strong: theme('colors.neutral.100');
      --color-fill-highlight-color-contrast-light: theme('colors.neutral.200');
      --color-fill-highlight-color-highlight: theme('colors.primary.100');
      --color-fill-highlight-color-highlight-strong: theme('colors.primary.200');
      --color-fill-highlight-color-highlight-light: theme('colors.primary.300');

    --color-fill-accent: theme('colors.accent.500');
      --color-fill-accent-color-contrast: theme('colors.neutral.600');
      --color-fill-accent-color-contrast-strong: theme('colors.neutral.900');
      --color-fill-accent-color-contrast-light: theme('colors.neutral.700');
      --color-fill-accent-color-highlight: theme('colors.accent.400');
      --color-fill-accent-color-highlight-strong: theme('colors.accent.500');
      --color-fill-accent-color-highlight-light: theme('colors.accent.600');
  }
}

/* ============================================================================================================ */

/* 
[Button]
*/
.btn-base { color: var(--color-button-color); background: var(--color-button-background-color); opacity: 1; transition: .3s opacity; }
.btn-base:hover { /* color: var(--color-button-color-hover); background: var(--color-button-background-color-hover); */ opacity: .6; }
.btn-base:focus { /* color: var(--color-button-color-hover); background: var(--color-button-background-color-hover); */ opacity: .6; }

.btn-ghost { color: var(--color-button-background-color); background: transparent; }
.btn-ghost:hover { /* color: var(--color-button-background-color-hover); background: var(--color-button-color-hover); */ opacity: .6; }
.btn-ghost:focus { /* color: var(--color-button-background-color-hover); background: var(--color-button-color-hover); */ opacity: .6; }

.btn-inverse { color: var(--color-button-background-color); background-color: var(--color-button-color); }
.btn-inverse:hover { /* color: var(--color-button-background-color-hover); background: var(--color-button-color-hover); */ opacity: .6; }
.btn-inverse:focus { /* color: var(--color-button-background-color-hover); background: var(--color-button-color-hover); */ opacity: .6; }


/* --- primary */
.btn-primary-highlight {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.primary.600');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.primary.500');
}
.btn-primary-accent {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.accent.600');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.accent.500');
}
.btn-primary-success {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.success.600');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.success.500');
}
.btn-primary-error {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.error.600');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.error.500');
}
.btn-primary-warning {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.warning.600');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.warning.500');
}
.btn-primary-dark {
  --color-button-color: #FFFFFF; --color-button-background-color: theme('colors.neutral.900');
  --color-button-color-hover: #FFFFFF; --color-button-background-color-hover: theme('colors.neutral.800');
}
.btn-primary-light {
  --color-button-color: theme('colors.neutral.900'); --color-button-background-color: white;
  --color-button-color-hover: theme('colors.neutral.900'); --color-button-background-color-hover: white;
}

/* --- secondary */
.btn-secondary-highlight {
  --color-button-color: theme('colors.primary.900'); --color-button-background-color: theme('colors.primary.100');
  --color-button-color-hover: theme('colors.primary.900'); --color-button-background-color-hover: theme('colors.primary.100');
}
.btn-secondary-accent {
  --color-button-color: theme('colors.accent.900'); --color-button-background-color: theme('colors.accent.100');
  --color-button-color-hover: theme('colors.accent.900'); --color-button-background-color-hover: theme('colors.accent.100');
}
.btn-secondary-success {
  --color-button-color: theme('colors.success.900'); --color-button-background-color: theme('colors.success.100');
  --color-button-color-hover: theme('colors.success.900'); --color-button-background-color-hover: theme('colors.success.100');
}
.btn-secondary-error {
  --color-button-color: theme('colors.error.900'); --color-button-background-color: theme('colors.error.100');
  --color-button-color-hover: theme('colors.error.900'); --color-button-background-color-hover: theme('colors.error.100');
}
.btn-secondary-warning {
  --color-button-color: theme('colors.warning.900'); --color-button-background-color: theme('colors.warning.100');
  --color-button-color-hover: theme('colors.warning.900'); --color-button-background-color-hover: theme('colors.warning.100');
}
.btn-secondary-dark {
  --color-button-color: theme('colors.neutral.900'); --color-button-background-color: theme('colors.neutral.200');
  --color-button-color-hover: theme('colors.neutral.900'); --color-button-background-color-hover: theme('colors.neutral.200');
}
.btn-secondary-light {
  --color-button-color: white; --color-button-background-color: theme('colors.neutral.100');
  --color-button-color-hover: white; --color-button-background-color-hover: theme('colors.neutral.100');
}

/* --- tertiary */
.btn-tertiary-highlight {
  --color-button-color: theme('colors.primary.700'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.primary.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-accent {
  --color-button-color: theme('colors.accent.700'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.accent.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-success {
  --color-button-color: theme('colors.success.700'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.success.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-error {
  --color-button-color: theme('colors.error.700'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.error.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-warning {
  --color-button-color: theme('colors.warning.700'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.warning.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-dark {
  --color-button-color: theme('colors.neutral.900'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.neutral.800'); --color-button-background-color-hover: var(--color-base-fill);
}
.btn-tertiary-light {
  --color-button-color: theme('colors.neutral.500'); --color-button-background-color: var(--color-base-fill);
  --color-button-color-hover: theme('colors.neutral.500'); --color-button-background-color-hover: var(--color-base-fill);
}
